<h2>Results</h2>
	
	Your secure code: <a href=<%= @url.input %>><%= @url.code %></a> <br>
	Associates with: <%= @url.input %> <br>

<a href="/">Add another link</a> <br>
<a href="<%= all_path %>">Index All Searches</a>



